*.pyc
*.egg-info/
SFUSD
/Zone_Generation/Data_Description/top_5_area_data.csv
*.DS_STORE
output/*
.env
.venv
/optimization_output/
/optimization_output/*
/analysis/plots/
/analysis/plots/*
sweep.log
sweep_comparison.log